fastapi>=0.95.2
uvicorn[standard]>=0.22.0
pydantic>=2.0.0
SQLAlchemy>=2.0.0
gunicorn>=23.0.0
ruff>=0.1.0
pytest>=7.0.0
pytest-asyncio>=0.20.0
mypy>=1.0.0
bandit>=1.0.0
asyncpg>=0.27.0
pydantic-settings>=2.0.0
alembic>=1.10.0